<div style="margin: 20px">
  <!-- Main content -->
  <section class="content">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3 class="m-0">Detalhes do Chamado</h3>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a [routerLink]="['']">Home</a>
              </li>
              <li class="breadcrumb-item">
                Chamados
              </li>
              <li class="breadcrumb-item active">
                Detalhes
              </li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- Default box -->
    <div class="form-group col-md-12">

      <div class="card card-dark">
        <div class="card-header">
          <h3 class="card-title text-white text-bold">Dados informados pelo solicitante:</h3>
        </div>

        <div class="card-body">
          <table class="table">
            <tbody>
            <tr>
              <th class="text-nowrap" scope="row">Id do chamado:</th>
              <td>{{ chamado.id }}</td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Categoria:</th>
              <td>{{ chamado.categoria.descricao }}</td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Descrição:</th>
              <td>{{ chamado.descricao }}</td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Abertura:</th>
              <td>{{ chamado.dtCriacao | date : 'dd/MM/yyyy' : 'UTC' }}</td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Solicitante:</th>
              <td>{{ chamado.solicitante.nome }}</td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Status:</th>
              <td *ngIf="chamado.status == 'A'">Aberto</td>
<!--              <td *ngIf="chamado.status == 'F'">Encerrado</td>-->
            </tr>
            </tbody>
          </table>

        </div>

      </div>
      <div class="card card-dark">
        <div class="card-header">
          <h3 class="card-title text-white text-bold">Dados informados pelo responsável:</h3>
        </div>

        <div class="card-body">
          <button *ngIf="chamado.status == 'A'" pButton label="Solucionar Chamado" data-toggle="modal" data-target="#modal-solucao" class="p-button-sm p-button-help p-button-outlined mt-3" ></button>
          <table *ngIf="chamado.solucao != null" class="table">
            <tbody>
            <tr>
              <th class="text-nowrap" scope="row">Responsável:</th>
              <td>{{ chamado.responsavel.nome }}</td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Solução:</th>
              <td>{{ chamado.solucao }}</td>
            </tr>
            <tr *ngIf="chamado.dtFechamento != null">
              <th class="text-nowrap" scope="row">Encerramento:</th>
              <td>{{ chamado.dtFechamento | date : 'dd/MM/yyyy' : 'UTC' }}</td>
            </tr>
            </tbody>
          </table>

        </div>

      </div>
    </div>

  </section>
  <!-- /.content -->
</div>

<div class="modal fade" id="modal-solucao" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Solucionar Chamado</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-group" name="formSolucao" id="formSolucao" #formValid="ngForm" >
          <div class="form-group">
            <label>Responsável</label>
            <p-dropdown
              name="responsavel"
              [showClear]="true"
              [options]="usuarios"
              [(ngModel)]="chamado.responsavel"
              optionLabel="nome"
              placeholder="Selecione o responsável">
            </p-dropdown>
          </div>
          <div class="form-group">
            <label>Solução</label>
            <input pInputText type="text" class="form-control" name="solucao" [(ngModel)]="chamado.solucao" placeholder="Digite a solução"  #solucao id="solucao" required>

            <!--            <small *ngIf="modulo.invalid && modulo.touched" class="p-error">Campo obrigatório</small>-->
          </div>
          <!-- ==================== -->
          <!-- FOOTER Modal -->
          <!-- ==================== -->
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-danger" data-dismiss="modal" >Limpar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateChamado()">Encerrar chamado</button>
          </div>
        </form>
        <!---->
      </div>
      <!---->
    </div>
  </div>
</div>

